In [1]:
%load_ext sql
%sql sqlite:///data.db

u'Connected: @data.db'

In [2]:
%%sql
SELECT COUNT(*)
from userTable

 * sqlite:///data.db
Done.

[(13422,)]

In [3]:
%%sql 
select count(*)
from userTable
where userLocation = "New York"

 * sqlite:///data.db
Done.

[(80,)]

In [4]:
%%sql
select count(distinct t1.itemId)
from categoryTable t1
where t1.itemId in(
    select itemId
    from categoryTable 
    group by itemId
    having count(categoryTable.category) = 4
    );

 * sqlite:///data.db
Done.

[(8194,)]

In [5]:
%%sql
select distinct t1.itemId
from priceTable t1
where t1.priceCurrent in ( 
    select MAX(priceCurrent) as m
    from priceTable
)

 * sqlite:///data.db
Done.

[(1046871451,)]

In [6]:
%%sql 
select COUNT(distinct t1.sellUserId)
from sellerTable t1
where t1.sellUserId in (
    select userId
    from userTable
    where userRating >1000
)

 * sqlite:///data.db
Done.

[(3130,)]

In [7]:
%%sql 
select COUNT(distinct t1.userId)
from userTable t1
Inner Join (
        select sellUserId from sellerTable 
        Inner Join bidTable
        on bidTable.bidUserId = sellerTable .sellUserId
)t2
on t2.sellUserId = t1.userId

 * sqlite:///data.db
Done.

[(6717,)]

In [10]:
%%sql
select count(distinct t1.category)
from categoryTable t1
where t1.category in (
    select categoryTable.category
    from bidTable,categoryTable,itemTable
    where itemTable.itemId = bidTable.itemId and bidTable.itemId = categoryTable.itemId
    group by category
    having MAX(bidAmount) > 100
    
)

 * sqlite:///data.db
Done.

[(150,)]